<h1> All Reference Photos </h2>

<% @reference_photos.each do |photo| %>
   <li> <%= link_to photo, reference_photo_path(photo) %> </li> <br>
<% end %>

<%= link_to "Add Photo", new_reference_photo_path(@reference_photo) %> 