<h1> <%= @reference_photo%> </h1>


Room: <%= link_to @reference_photo.room.name, room_path(@reference_photo.room) %>  <br>

<%= link_to "Edit Reference Photo", edit_reference_photo_path(@reference_photo) %> <br>